<!DOCTYPE html>

  <div id="sliderbox">
    <img src="images/businessmen-42691_1280.png" width="25%" height="200" />
    <img src="images/entrepreneur-696959_1920.jpg" width="25%" height="200"/>
    <img src="images/thumb-2480775_1920.jpg" width="25%" height="200"/>
    <img src="images/board-2434016_1920.jpg" width="25%" height="200"/>
  </div>


