<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/livesearch2.css' />
  </head>
   <body>
   Welcome to Express
   <!--
    <% include searchblock %>
    <% include adsliderbox %>
    -->
   </body>
</html>
