
<div id="SignInIcon">
<button id="btn" onclick="loginform();">
    <img src="/images/signin1.png" style="width: 20px;height: 20px" >
</button>
</div>

<div  id="login1" style="display: none;">
    <div id="demo"></div>
    <div id="login" style="text-align:center;">
        <span id="sub_login">Login</span>
    </div>
    <p></p>
    <input type="text" id="userid" placeholder="User Name" />
    <p></p>

    <input type="password" id="pass" placeholder="Password"/>
    <p></p>
    <input id="cbox" type="checkbox" checked />
    Remember me
    <p></p>
         <input type="text" id="txtCompare" placeholder="Enter Captha Text"/>
        <input type="text" id="txtCaptcha" />
        <input type="button"  id="captcha_image"  onclick="GenerateCaptcha();" />
     <p></p>
        <button type="submit" id="loginSubmitBtn" onclick="validatelogin()" >submit</button>
    <div id="forgot">
        <a id="f1" href="#">Forgot User Name Or Password</a></div>
    <div id="register"><a id="register1" href="#">Register new User</a></div>
    <div id="or"><span id="or1">OR<br/></span></div>
    <!--<div id="google"></div> -->
    <div id="googlelogin"> <script>renderGoogleLoginOption()</script>
    </div>
    <P></P>

    <div id="fblogin">
    <a href="#" onclick="fbLogin()"  id="fbLink">
        <img class="fbloginLink" src="/images/LoginWithFacebook.png"/>
    </a>
    </div>


</div>

<div class="aClassOfYourOwn"></div>
<a href="#" id="sgnout"  onclick="signOut()" >Sign out </a>
<div id="details">
<a href="#" id="fbLink1"></a>
<div id="status" ></div>
<div id="userData"></div>
</div>
    <div id='frm2'>
    <div id="frm1" > </div>
    <div  id="logout" style="display: none;" >
        <button id="lgout" type="submit" onclick="logout();">logout</button>
    </div>
</div>

