<div>

    <form>
<input type="text" id="firstname" placeholder="FirstName"/>
<input type="text" id="lastname" placeholder="LastName"/>
<input type="text" id="email" placeholder="Enter Email"/>
<input type="password" id="password" placeholder="Enter Password"/>
<input type="password" id="password" placeholder="Re enter password"/>
    </form>
    <button id="newuser" onclick="registration();">New User</button>
</div>