<html>
<head>
    <link rel="stylesheet" href="/stylesheets/Registration_form.css"/>
</head>
<body>

<div id="R_form">
    <div id="Registration_Title">
                 Registration Form
    </div>
    <div id="First_Name">First Name</div>
    <div id="Fname_box">
    <input class="FirstNameText" type="text"  placeholder="firstname" />
    </div>

    <div id="Last_Name">
               Last Name
    </div>

    <div id="E-mail">
        <span id="E_M">
            E-mail<br/>
        </span>
    </div>
    <div id="Password">
        <span id="PWD">
            Password<br/>
        </span>
    </div>

<div id="confirm_password">
        <span id="c_pwd">
            Confirm Password<br/>
        </span>
</div>
 <input type="text" id="Lname_box" placeholder="lastname"/>
    <input type="text" id="Email_box" placeholder="e-mail"/>
    <input type="password" id="Password_box" placeholder="password"/>
    <input type="password" id="Confirm_pwd_box" placeholder="confirm_password"/>
    <input type="text" id="Enter_Captcha_box" placeholder="Enter Captha Text"/>
    <input type="text" id="Captcha" placeholder=""/>

    <div id="_26">

    </div>

    <div id="_27">

    </div>

    <div id="captcha_image"></div>
    <button id="Submit">
        Submit

    </button>
    <button id="Reset">
        Reset

    </button>
</div>

</body>
</html>