#Contact_Section {
    width:1024px;
    height:768px;
    left:null;
    top:null;
    opacity:1;
    margin-left:auto;
    margin-top:0px;
    margin-right:auto;
    margin-bottom:0px;
    border-width:1px;
    padding-left:0px;
    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    border-bottom-left-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-bottom-left-radius:0px;
    -ms-border-bottom-left-radius:0px;
    -o-border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-bottom-right-radius:0px;
    -ms-border-bottom-right-radius:0px;
    -o-border-bottom-right-radius:0px;
    border-top-left-radius:0px;
    -webkit-border-top-left-radius:0px;
    -moz-border-top-left-radius:0px;
    -ms-border-top-left-radius:0px;
    -o-border-top-left-radius:0px;
    border-top-right-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-top-right-radius:0px;
    -ms-border-top-right-radius:0px;
    -o-border-top-right-radius:0px;
    background-image:url('null');
    background-repeat:repeat;
    background-size:contain;
    overflow:visible;
    position:relative;
}
#C_S {
    width:986px;
    height:727px;
    left:17px;
    top:16px;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    background:rgba(247,242,247,1);
    border-color:rgba(36,14,36,1);
    border-style:solid;
    border-width:1px;
    border-bottom-left-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-bottom-left-radius:0px;
    -ms-border-bottom-left-radius:0px;
    -o-border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-bottom-right-radius:0px;
    -ms-border-bottom-right-radius:0px;
    -o-border-bottom-right-radius:0px;
    border-top-left-radius:0px;
    -webkit-border-top-left-radius:0px;
    -moz-border-top-left-radius:0px;
    -ms-border-top-left-radius:0px;
    -o-border-top-left-radius:0px;
    border-top-right-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-top-right-radius:0px;
    -ms-border-top-right-radius:0px;
    -o-border-top-right-radius:0px;
    overflow:visible;
}
#Contact_Us {
    position: relative;
    width:139px;
    height:35px;
    left:40%;
    top:-90%;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    border-width:1px;
    text-align:left;
    font-family:Times New Roman;
    font-size:31px;
    color:#515151;
    overflow:visible;
    line-height:31px;
    white-space:nowrap;
}
#C_U {
    text-align:left;
    left:0px;
    width:139px;
    margin:0px;
    font-size:31px;
    line-height:31px;
    top:3px;
}
#Sub_Title {
    position: relative;
    width:515px;
    height:29px;
    left:22%;
    top:-88%;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    border-width:1px;
    text-align:left;
    font-family:Times New Roman;
    font-size:25px;
    color:#515151;
    overflow:visible;
    line-height:25px;
    white-space:nowrap;
}
#S_T {
    text-align:left;
    left:0px;
    width:515px;
    margin:0px;
    font-size:25px;
    line-height:25px;
    top:2px;
}

#image {
    position: relative;
    width:433px;
    height:577px;
    left:36px;
    top:-85%;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    border-width:1px;
    border-bottom-left-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-bottom-left-radius:0px;
    -ms-border-bottom-left-radius:0px;
    -o-border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-bottom-right-radius:0px;
    -ms-border-bottom-right-radius:0px;
    -o-border-bottom-right-radius:0px;
    border-top-left-radius:0px;
    -webkit-border-top-left-radius:0px;
    -moz-border-top-left-radius:0px;
    -ms-border-top-left-radius:0px;
    -o-border-top-left-radius:0px;
    border-top-right-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-top-right-radius:0px;
    -ms-border-top-right-radius:0px;
    -o-border-top-right-radius:0px;
    overflow:hidden;
    background-image:url("https://ninjastorage.blob.core.windows.net/companyfiles/21018511/01708e82-ad93-4134-a904-c1d7c7b126eb.png");
    background-repeat:no-repeat;
    background-size:contain;
    background-position:50% 50%;

}
#image_box {
    position: relative;
    width:454px;
    height:585px;
    left:23px;
    top:-161%;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    border-color:#000000;
    border-style:solid;
    border-width:1px;
    border-bottom-left-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-bottom-left-radius:0px;
    -ms-border-bottom-left-radius:0px;
    -o-border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-bottom-right-radius:0px;
    -ms-border-bottom-right-radius:0px;
    -o-border-bottom-right-radius:0px;
    border-top-left-radius:0px;
    -webkit-border-top-left-radius:0px;
    -moz-border-top-left-radius:0px;
    -ms-border-top-left-radius:0px;
    -o-border-top-left-radius:0px;
    border-top-right-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-top-right-radius:0px;
    -ms-border-top-right-radius:0px;
    -o-border-top-right-radius:0px;
    overflow:visible;
}
#First_Name {
    position: relative;
    width:99px;
    height:25px;
    left:578px;
    top:-235%;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    border-width:1px;
    text-align:left;
    font-family:Times New Roman;
    font-size:22px;
    color:rgba(82,82,82,1);
    overflow:visible;
    line-height:22px;
    white-space:nowrap;

}
#F_N {

    text-align:left;
    left:0px;
    width:99px;
    margin:0px;
    font-size:22px;
    line-height:22px;
    top:2px;
}
#Fname_text_box {
    position: relative;
    width:220px;
    height:30px;
    left:580px;
    top:-1800px;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    border-width:1px;
    padding-left:0px;
    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    border-bottom-left-radius:4px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-bottom-left-radius:4px;
    -ms-border-bottom-left-radius:4px;
    -o-border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    -webkit-border-bottom-right-radius:4px;
    -moz-border-bottom-right-radius:4px;
    -ms-border-bottom-right-radius:4px;
    -o-border-bottom-right-radius:4px;
    border-top-left-radius:4px;
    -webkit-border-top-left-radius:4px;
    -moz-border-top-left-radius:4px;
    -ms-border-top-left-radius:4px;
    -o-border-top-left-radius:4px;
    border-top-right-radius:4px;
    -webkit-border-top-right-radius:4px;
    -moz-border-top-right-radius:4px;
    -ms-border-top-right-radius:4px;
    -o-border-top-right-radius:4px;
    overflow:hidden;
    background:rgba(255,255,255,1);
    border-color:#686868;
    border-style:solid;
    font-family:Times New Roman;
    font-size:17px;
    color:#515151;
    line-height:30px;
}
#Last_Name {
    position: relative;
    width:96px;
    height:25px;
    left:578px;
    top:-230%;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    border-width:1px;
    text-align:left;
    font-family:Times New Roman;
    font-size:22px;
    color:rgba(82,82,82,1);
    overflow:visible;
    line-height:22px;
    white-space:nowrap;
}
#L_N {

    text-align:left;
    left:0px;
    width:96px;
    margin:0px;
    font-size:22px;
    line-height:22px;
    top:2px;
}
#Lname_box {
    position: relative;
    width:220px;
    height:30px;
    left:580px;
    top:-1760px;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    border-width:1px;
    padding-left:0px;
    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    border-bottom-left-radius:4px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-bottom-left-radius:4px;
    -ms-border-bottom-left-radius:4px;
    -o-border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    -webkit-border-bottom-right-radius:4px;
    -moz-border-bottom-right-radius:4px;
    -ms-border-bottom-right-radius:4px;
    -o-border-bottom-right-radius:4px;
    border-top-left-radius:4px;
    -webkit-border-top-left-radius:4px;
    -moz-border-top-left-radius:4px;
    -ms-border-top-left-radius:4px;
    -o-border-top-left-radius:4px;
    border-top-right-radius:4px;
    -webkit-border-top-right-radius:4px;
    -moz-border-top-right-radius:4px;
    -ms-border-top-right-radius:4px;
    -o-border-top-right-radius:4px;
    overflow:hidden;
    background:#fff;
    border-color:rgba(0,0,0,1);
    border-style:solid;
    font-family:Times New Roman;
    font-size:17px;
    color:#515151;
    line-height:30px;
}
#Country {
    position: relative;
    width:73px;
    height:25px;
    left:578px;
    top:-225%;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    border-width:1px;
    text-align:left;
    font-family:Times New Roman;
    font-size:22px;
    color:rgba(82,82,82,1);
    overflow:visible;
    line-height:22px;
    white-space:nowrap;
}
#C {

    text-align:left;
    left:0px;
    width:73px;
    margin:0px;
    font-size:22px;
    line-height:22px;
    top:2px;
}
#Country_box {
    position: relative;
    width:220px;
    height:30px;
    left:580px;
    top:-1720px;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    background:rgba(255,255,255,1);
    border-color:rgba(0,0,0,1);
    border-style:solid;
    border-width:1px;
    padding-left:0px;
    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    border-bottom-left-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-bottom-left-radius:0px;
    -ms-border-bottom-left-radius:0px;
    -o-border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-bottom-right-radius:0px;
    -ms-border-bottom-right-radius:0px;
    -o-border-bottom-right-radius:0px;
    border-top-left-radius:0px;
    -webkit-border-top-left-radius:0px;
    -moz-border-top-left-radius:0px;
    -ms-border-top-left-radius:0px;
    -o-border-top-left-radius:0px;
    border-top-right-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-top-right-radius:0px;
    -ms-border-top-right-radius:0px;
    -o-border-top-right-radius:0px;
    font-family:Times New Roman;
    font-size:22px;
    color:#515151;
    overflow:visible;
}
#Subject {
    position: relative;
    width:66px;
    height:25px;
    left:578px;
    top:-220%;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    border-width:1px;
    text-align:left;
    font-family:Times New Roman;
    font-size:22px;
    color:rgba(82,82,82,1);
    overflow:visible;
    line-height:22px;
    white-space:nowrap;

}
#S {

    text-align:left;
    left:0px;
    width:66px;
    margin:0px;
    font-size:22px;
    line-height:22px;
    top:2px;
}
#Subject_box {
    position: relative;
    width:264px;
    height:93px;
    left:580px;
    top:-1680px;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    border-width:1px;
    padding-left:0px;
    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    border-bottom-left-radius:4px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-bottom-left-radius:4px;
    -ms-border-bottom-left-radius:4px;
    -o-border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    -webkit-border-bottom-right-radius:4px;
    -moz-border-bottom-right-radius:4px;
    -ms-border-bottom-right-radius:4px;
    -o-border-bottom-right-radius:4px;
    border-top-left-radius:4px;
    -webkit-border-top-left-radius:4px;
    -moz-border-top-left-radius:4px;
    -ms-border-top-left-radius:4px;
    -o-border-top-left-radius:4px;
    border-top-right-radius:4px;
    -webkit-border-top-right-radius:4px;
    -moz-border-top-right-radius:4px;
    -ms-border-top-right-radius:4px;
    -o-border-top-right-radius:4px;
    overflow:visible;
    background:#fff;
    border-color:#686868;
    border-style:solid;
    font-family:Times New Roman;
    font-size:17px;
    color:#515151;
    line-height:19px;
}
#Submit {
    position: relative;
    width:80px;
    height:30px;
    left:30.5%;
    top:-1620px;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    border-width:1px;
    padding-left:0px;
    padding-top:0px;
    padding-right:0px;
    padding-bottom:2px;
    border-bottom-left-radius:4px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-bottom-left-radius:4px;
    -ms-border-bottom-left-radius:4px;
    -o-border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    -webkit-border-bottom-right-radius:4px;
    -moz-border-bottom-right-radius:4px;
    -ms-border-bottom-right-radius:4px;
    -o-border-bottom-right-radius:4px;
    border-top-left-radius:4px;
    -webkit-border-top-left-radius:4px;
    -moz-border-top-left-radius:4px;
    -ms-border-top-left-radius:4px;
    -o-border-top-left-radius:4px;
    border-top-right-radius:4px;
    -webkit-border-top-right-radius:4px;
    -moz-border-top-right-radius:4px;
    -ms-border-top-right-radius:4px;
    -o-border-top-right-radius:4px;
    overflow:hidden;
    border-color:#ccc;
    border-style:solid;
    background:#fff;
    font-family:Times New Roman;
    font-size:17px;
    color:#515151;
    line-height:0px;
}
