#R_form {
    position: relative;
    width:600px;
    height:523px;
    left:25%;
    top:27px;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    border-width:1px;
    padding-left:0px;
    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    border-bottom-left-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-bottom-left-radius:0px;
    -ms-border-bottom-left-radius:0px;
    -o-border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-bottom-right-radius:0px;
    -ms-border-bottom-right-radius:0px;
    -o-border-bottom-right-radius:0px;
    border-top-left-radius:0px;
    -webkit-border-top-left-radius:0px;
    -moz-border-top-left-radius:0px;
    -ms-border-top-left-radius:0px;
    -o-border-top-left-radius:0px;
    border-top-right-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-top-right-radius:0px;
    -ms-border-top-right-radius:0px;
    -o-border-top-right-radius:0px;
    overflow:visible;


    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    background:rgba(0,255,255,1);
    border-color:rgba(140,0,0,1);
    border-style:solid;
    border-width:1px;
    border-bottom-left-radius:25px;
    -webkit-border-bottom-left-radius:25px;
    -moz-border-bottom-left-radius:25px;
    -ms-border-bottom-left-radius:25px;
    -o-border-bottom-left-radius:25px;
    border-bottom-right-radius:25px;
    -webkit-border-bottom-right-radius:25px;
    -moz-border-bottom-right-radius:25px;
    -ms-border-bottom-right-radius:25px;
    -o-border-bottom-right-radius:25px;
    border-top-left-radius:25px;
    -webkit-border-top-left-radius:25px;
    -moz-border-top-left-radius:25px;
    -ms-border-top-left-radius:25px;
    -o-border-top-left-radius:25px;
    border-top-right-radius:25px;
    -webkit-border-top-right-radius:25px;
    -moz-border-top-right-radius:25px;
    -ms-border-top-right-radius:25px;
    -o-border-top-right-radius:25px;
    overflow:visible
}
#Registration_Title {
    position: relative;
    width:10%;
    height:19px;
    left:40%;
    top: 3%;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    border-width:1px;
    text-align:left;
    font-family:Times New Roman;
    font-size:17px;
    text-decoration:underline;
    color:#515151;
    overflow:visible;
    white-space:nowrap;
}
#First_Name {
    position: relative;
    height:25px;
    width:8%;
    left:5%;
    top:5%;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    border-width:1px;
    text-align:center;
    font-family:Times New Roman;
    font-size:22px;
    color:rgba(82,82,82,1);
    overflow:visible;
    white-space:nowrap;

}

#Fname_box {
    position: relative;
    width: 25%;
    height: 25px;
    left: 23%;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    border-width: 1px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}
.FirstNameText{
    position:relative;
    width: 100%;
    border-bottom-left-radius:4px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-bottom-left-radius:4px;
    -ms-border-bottom-left-radius:4px;
    -o-border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    -webkit-border-bottom-right-radius:4px;
    -moz-border-bottom-right-radius:4px;
    -ms-border-bottom-right-radius:4px;
    -o-border-bottom-right-radius:4px;
    border-top-left-radius:4px;
    -webkit-border-top-left-radius:4px;
    -moz-border-top-left-radius:4px;
    -ms-border-top-left-radius:4px;
    -o-border-top-left-radius:4px;
    border-top-right-radius:4px;
    -webkit-border-top-right-radius:4px;
    -moz-border-top-right-radius:4px;
    -ms-border-top-right-radius:4px;
    -o-border-top-right-radius:4px;
    overflow:hidden;
    background:rgba(255,255,255,1);
    border-color:rgba(105,105,105,1);
    border-style:solid;
    font-family:Times New Roman;
    font-size:22px;
    color:rgba(82,82,82,1);
}

#Last_Name {
    position:relative;
    width: 8%;
    height:25px;
    left:55%;
    top:-4%;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    border-width:1px;
    text-align:left;
    font-family:Times New Roman;
    font-size:22px;
    color:rgba(82,82,82,1);
    overflow:visible;
    white-space:nowrap;
}
#L_N {
    text-align:left;
    left:0px;
    width:96px;
    margin:0px;
    font-size:22px;
    line-height:22px;
    top:2px;
}
#E-mail {
    position: relative;
    width:8%;
    height:25px;
    left:8%;
    top:5%;
    opacity:1;
    margin-left:20px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    border-width:1px;
    text-align:left;
    font-family:Times New Roman;
    font-size:22px;
    color:#515151;
    overflow:visible;
    line-height:22px;
    white-space:nowrap;
}
#E_M {
    text-align:left;
    left:0px;
    width:60px;
    margin:0px;
    font-size:22px;
    line-height:22px;
    top:2px;
}
#Password {
    position: relative;
    width:8%;
    height:25px;
    left:55%;
    top: 1%;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    border-width:1px;
    text-align:left;
    font-family:Times New Roman;
    font-size:21px;
    color:#515151;
    overflow:visible;
    line-height:21px;
    white-space:nowrap;

}
#PWD {
    text-align:left;
    left:0px;
    width:81px;
    margin:0px;
    font-size:21px;
    line-height:21px;
    top:2px;


}
#confirm_password {
    position: relative;
    width:8%;
    height:25px;
    left:45%;
    top:10%;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    border-width:1px;
    text-align:left;
    font-family:Times New Roman;
    font-size:21px;
    color:#515151;
    overflow:visible;
    line-height:21px;
    white-space:nowrap;

}
#c_pwd {
    text-align:left;
    left:0px;
    width:152px;
    margin:0px;
    font-size:21px;
    line-height:21px;
    top:2px;

}

#Lname_box {
    position: relative;
    width:25%;
    height:30px;
    left:73%;
    top:-120px;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    border-width:1px;
    padding-left:0px;
    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    border-bottom-left-radius:4px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-bottom-left-radius:4px;
    -ms-border-bottom-left-radius:4px;
    -o-border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    -webkit-border-bottom-right-radius:4px;
    -moz-border-bottom-right-radius:4px;
    -ms-border-bottom-right-radius:4px;
    -o-border-bottom-right-radius:4px;
    border-top-left-radius:4px;
    -webkit-border-top-left-radius:4px;
    -moz-border-top-left-radius:4px;
    -ms-border-top-left-radius:4px;
    -o-border-top-left-radius:4px;
    border-top-right-radius:4px;
    -webkit-border-top-right-radius:4px;
    -moz-border-top-right-radius:4px;
    -ms-border-top-right-radius:4px;
    -o-border-top-right-radius:4px;
    overflow:hidden;
    background:rgba(255,255,255,1);
    border-color:rgba(105,105,105,1);
    border-style:solid;
    font-family:Times New Roman;
    font-size:14px;
    color:rgba(82,82,82,1);
    line-height:30px;
}
#Email_box {
    position: relative;
    width:25%;
    height:30px;
    left: -3%;
    top:-50px;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    border-width:1px;
    padding-left:0px;
    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    border-bottom-left-radius:4px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-bottom-left-radius:4px;
    -ms-border-bottom-left-radius:4px;
    -o-border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    -webkit-border-bottom-right-radius:4px;
    -moz-border-bottom-right-radius:4px;
    -ms-border-bottom-right-radius:4px;
    -o-border-bottom-right-radius:4px;
    border-top-left-radius:4px;
    -webkit-border-top-left-radius:4px;
    -moz-border-top-left-radius:4px;
    -ms-border-top-left-radius:4px;
    -o-border-top-left-radius:4px;
    border-top-right-radius:4px;
    -webkit-border-top-right-radius:4px;
    -moz-border-top-right-radius:4px;
    -ms-border-top-right-radius:4px;
    -o-border-top-right-radius:4px;
    overflow:hidden;
    background:rgba(255,255,255,1);
    border-color:rgba(105,105,105,1);
    border-style:solid;
    font-family:Times New Roman;
    font-size:14px;
    color:rgba(82,82,82,1);
    line-height:30px;
}
#Password_box {
    position: relative;
    width:25%;
    height:30px;
    left:21.5%;
    top:-50px;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    border-width:1px;
    padding-left:0px;
    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    border-bottom-left-radius:4px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-bottom-left-radius:4px;
    -ms-border-bottom-left-radius:4px;
    -o-border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    -webkit-border-bottom-right-radius:4px;
    -moz-border-bottom-right-radius:4px;
    -ms-border-bottom-right-radius:4px;
    -o-border-bottom-right-radius:4px;
    border-top-left-radius:4px;
    -webkit-border-top-left-radius:4px;
    -moz-border-top-left-radius:4px;
    -ms-border-top-left-radius:4px;
    -o-border-top-left-radius:4px;
    border-top-right-radius:4px;
    -webkit-border-top-right-radius:4px;
    -moz-border-top-right-radius:4px;
    -ms-border-top-right-radius:4px;
    -o-border-top-right-radius:4px;
    overflow:hidden;
    background:rgba(255,255,255,1);
    border-color:rgba(105,105,105,1);
    border-style:solid;
    font-family:Times New Roman;
    font-size:14px;
    color:rgba(82,82,82,1);
    line-height:30px;

}
#Confirm_pwd_box {
    position:relative;
    width:25%;
    height:30px;
    left:73%;
    top:-10px;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    border-width:1px;
    padding-left:0px;
    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    border-bottom-left-radius:4px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-bottom-left-radius:4px;
    -ms-border-bottom-left-radius:4px;
    -o-border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    -webkit-border-bottom-right-radius:4px;
    -moz-border-bottom-right-radius:4px;
    -ms-border-bottom-right-radius:4px;
    -o-border-bottom-right-radius:4px;
    border-top-left-radius:4px;
    -webkit-border-top-left-radius:4px;
    -moz-border-top-left-radius:4px;
    -ms-border-top-left-radius:4px;
    -o-border-top-left-radius:4px;
    border-top-right-radius:4px;
    -webkit-border-top-right-radius:4px;
    -moz-border-top-right-radius:4px;
    -ms-border-top-right-radius:4px;
    -o-border-top-right-radius:4px;
    overflow:hidden;
    background:rgba(255,255,255,1);
    border-color:rgba(105,105,105,1);
    border-style:solid;
    font-family:Times New Roman;
    font-size:14px;
    color:#515151;
    line-height:30px;

}
#Enter_Captcha_box {
    position: relative;
    width:25%;
    height:30px;
    left:-3%;
    top:60px;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    border-width:1px;
    padding-left:0px;
    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    border-bottom-left-radius:4px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-bottom-left-radius:4px;
    -ms-border-bottom-left-radius:4px;
    -o-border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    -webkit-border-bottom-right-radius:4px;
    -moz-border-bottom-right-radius:4px;
    -ms-border-bottom-right-radius:4px;
    -o-border-bottom-right-radius:4px;
    border-top-left-radius:4px;
    -webkit-border-top-left-radius:4px;
    -moz-border-top-left-radius:4px;
    -ms-border-top-left-radius:4px;
    -o-border-top-left-radius:4px;
    border-top-right-radius:4px;
    -webkit-border-top-right-radius:4px;
    -moz-border-top-right-radius:4px;
    -ms-border-top-right-radius:4px;
    -o-border-top-right-radius:4px;
    overflow:hidden;
    background:rgba(255,255,255,1);
    border-color:rgba(105,105,105,1);
    border-style:solid;
    font-family:Times New Roman;
    font-size:14px;
    color:rgba(82,82,82,1);
    line-height:30px;

}
#Captcha {
    position: relative;
    width:137px;
    height:30px;
    left: 10%;
    top:60px;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    border-width:1px;
    padding-left:0px;
    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    border-bottom-left-radius:4px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-bottom-left-radius:4px;
    -ms-border-bottom-left-radius:4px;
    -o-border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    -webkit-border-bottom-right-radius:4px;
    -moz-border-bottom-right-radius:4px;
    -ms-border-bottom-right-radius:4px;
    -o-border-bottom-right-radius:4px;
    border-top-left-radius:4px;
    -webkit-border-top-left-radius:4px;
    -moz-border-top-left-radius:4px;
    -ms-border-top-left-radius:4px;
    -o-border-top-left-radius:4px;
    border-top-right-radius:4px;
    -webkit-border-top-right-radius:4px;
    -moz-border-top-right-radius:4px;
    -ms-border-top-right-radius:4px;
    -o-border-top-right-radius:4px;
    overflow:hidden;
    background:rgba(214,197,214,1);
    border-color:rgba(82,82,82,0.01);
    border-style:solid;
    font-family:Times New Roman;
    font-size:14px;
    color:rgba(230,212,230,1);
    line-height:30px;

}
#captcha_image {
    position: relative;
    width:52px;
    height:65px;
    left: 89%;
    top:0px;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    border-width:1px;
    border-bottom-left-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-bottom-left-radius:0px;
    -ms-border-bottom-left-radius:0px;
    -o-border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-bottom-right-radius:0px;
    -ms-border-bottom-right-radius:0px;
    -o-border-bottom-right-radius:0px;
    border-top-left-radius:0px;
    -webkit-border-top-left-radius:0px;
    -moz-border-top-left-radius:0px;
    -ms-border-top-left-radius:0px;
    -o-border-top-left-radius:0px;
    border-top-right-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-top-right-radius:0px;
    -ms-border-top-right-radius:0px;
    -o-border-top-right-radius:0px;
    overflow:hidden;
    background-image:url("/images/RecaptchaIcon2.png");
    background-repeat:no-repeat;
    background-size:contain;
    background-position:50% 50%;


}
#Submit {
    position: relative;

    width:25%;
    height:30px;
    left:23%;
    top:60px;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    border-width:2px;
    padding-left:0px;
    padding-top:0px;
    padding-right:0px;
    padding-bottom:2px;
    border-bottom-left-radius:4px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-bottom-left-radius:4px;
    -ms-border-bottom-left-radius:4px;
    -o-border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    -webkit-border-bottom-right-radius:4px;
    -moz-border-bottom-right-radius:4px;
    -ms-border-bottom-right-radius:4px;
    -o-border-bottom-right-radius:4px;
    border-top-left-radius:4px;
    -webkit-border-top-left-radius:4px;
    -moz-border-top-left-radius:4px;
    -ms-border-top-left-radius:4px;
    -o-border-top-left-radius:4px;
    border-top-right-radius:4px;
    -webkit-border-top-right-radius:4px;
    -moz-border-top-right-radius:4px;
    -ms-border-top-right-radius:4px;
    -o-border-top-right-radius:4px;
    overflow:hidden;
    border-color:rgba(230,170,230,1);
    border-style:solid;
    background:rgba(230,212,230,1);
    font-family:Times New Roman;
    font-size:17px;
    color:rgba(0,0,0,1);
    line-height:0px;


}
#Reset {
    position: relative;
    width:149px;
    height:30px;
    left:35%;
    top:60px;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    border-width:2px;
    padding-left:0px;
    padding-top:0px;
    padding-right:0px;
    padding-bottom:2px;
    border-bottom-left-radius:4px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-bottom-left-radius:4px;
    -ms-border-bottom-left-radius:4px;
    -o-border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    -webkit-border-bottom-right-radius:4px;
    -moz-border-bottom-right-radius:4px;
    -ms-border-bottom-right-radius:4px;
    -o-border-bottom-right-radius:4px;
    border-top-left-radius:4px;
    -webkit-border-top-left-radius:4px;
    -moz-border-top-left-radius:4px;
    -ms-border-top-left-radius:4px;
    -o-border-top-left-radius:4px;
    border-top-right-radius:4px;
    -webkit-border-top-right-radius:4px;
    -moz-border-top-right-radius:4px;
    -ms-border-top-right-radius:4px;
    -o-border-top-right-radius:4px;
    overflow:hidden;
    border-color:rgba(230,170,230,1);
    border-style:solid;
    background:rgba(230,212,230,1);
    font-family:Times New Roman;
    font-size:17px;
    color:rgba(0,0,0,1);
    line-height:0px;

}

